* {
  margin: 0px;
  padding: 0px;
  font-family: "Barlow", sans-serif;
}
p {
  font-size: 15.5px;
}
button,
a {
  cursor: pointer;
  text-decoration: none;
}

.a {
  text-decoration: none;
  border-radius: 5px;
  padding: 1vw;
  font-size: 2vw;
  font-size: 2vh;
}

.H-S {
  font-size: 1vw;
  color: yellow;
}

body {
  background-color: white;
  font-family: "Roboto Slab", serif;
}

header {
  display: flex;
  background-color: #a19efeb0;
  margin-bottom: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 10px;
}
header img {
  width: 10vw;
  height: auto;
}
nav {
  display: flex;
  gap: 1vw;
}
/* .secondmenu:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 150px;
  width: 200px;
  border-radius: 50%;
} */

/* .secondmenu:hover {
  color: #fff;
}

.secondmenu:before {
  top: 100%;
  left: 100%;
  transition: all 0.7s;
}

.secondmenu:hover:before {
  top: -30px;
  left: -30px;


.secondmenu:active:before {
  background: #3a0ca3;
  transition: background 0s;
} */
.secondnavback {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
}
.secondmenu {
  padding: 7px;
  border-radius: 3px;
  transition: 0.5s;
}
.section1att {
  font-size: 4vw;
  font-weight: bold;
  margin-top: 2vh;
  margin-left: 10vw;
  color: black;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.219);
  /* scale: 1.2; */
  margin-bottom: 2vh;
}
.section1 ul li {
  margin-left: 10vw;
  margin-top: 1vh;
  font-size: 2vw;
  color: rgb(11 10 10 / 72%);
  font-weight: 700;
}

.section1btns {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1.5vh;
  color: white;
  font-weight: 700;
}

/* .section1 button {
  color: white;
  background-color: blue;
  border: none;
  margin-left: 20px;
  padding: 10px 25px;
  font-weight: 1000;
  font-size: medium;
  border-radius: 5px;
} */

.btn {
  padding: 0.9em 1.6em;
  border: none;
  /* outline: none; */
  /* color: black; */
  /* font-family: inherit; */
  font-weight: 500;
  font-size: 1vw;
  /* cursor: pointer; */
  position: relative;
  /* z-index: 0; */
  border-radius: 0.5vw;
  margin-left: 10px;
}

.btn::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(253, 136, 136);
  left: 0;
  top: 0;
  border-radius: 10px;
}
/* glow */
/* .btn::before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #002bff,
    #ff00c8,
    #002bff,
    #ff0000,
    #002bff,
    #ff00c8,
    #002bff
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 600%;
  z-index: -1;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  filter: blur(8px);
  animation: glowing 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
  opacity: 0; 
}*/

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

/* hover */
.btn:hover::before {
  opacity: 1;
}

.btn:active:after {
  background: transparent;
}

.btn:active {
  color: #000;
  font-weight: bold;
}
.usedby {
  display: inline-block;
  font-size: 1vw;
}
.sectoion2 {
  display: flex;
  justify-content: center;
  gap: 5vw;
  margin: 0 auto;
  align-items: center;
  margin: 50px 10px;
}

.sectoion2 img {
  width: 6vw;
  height: 5vh;
}
hr {
  width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

.joblist {
  background-color: #b1b2ff;

  margin-top: 20px;
  margin-bottom: 20px;
}

.joblist h2 {
  padding-bottom: 20px;
}
/* .joblist div {
  display: flex;
  justify-content: space-around;
} */

.list {
  color: white;
  background-color: black;
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 0.5%;
}

.list img {
  width: 5vw;
  height: 6vh;
  border-radius: 50%;
}

.list_of_topjobs {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 10px;
  justify-content: center;
  padding: 20px;
}

.trending {
  /* width: 1390px; */
  background-color: #aac4ff;
  position: relative;
  right: 0px;
  padding-top: 3vw;
  padding-left: 3vw;
  /* margin: 0px auto;*/
}

.trendingitems {
  background-color: lightblue;
  /* color: black; */
  /* width: 200px; */
  /* height: auto; */
  border-radius: 20px;
  padding: 3vw;
}

.trendingitems img {
  width: 5vw;
  height: 6vh;
  border-radius: 50%;
}

.trendingitems1 {
  display: flex;
  /* gap: 20px; */
  justify-content: space-around;
  padding: 10px;
  align-items: center;
}

.trendingitems2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding-bottom: 10px; */
  /* justify-content: center; */
  line-height: 5vh;
}

.items {
  display: flex;

  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
  gap: 40px;
  padding-bottom: 20px;
  /* margin-left: 100px; */
  align-items: center;
  justify-content: center;
}

.trending h2 {
  /* padding-bottom: 20px; */
  /* margin-top: 50px; */
  margin-bottom: 2vw;
  /* color: black; */
}

.feedback h2 {
  /* padding-bottom: 20px; */
  /* margin-top: 50px; */
  margin-bottom: 2vw;
  /* color: black; */
}

.profile {
  height: 30px;
  width: 30px;
  border-radius: 50px;
}

.fbcontainer {
  /*margin-left: 100px; */
  /* color: black; */
  display: flex;
  flex-wrap: wrap;
  /* grid-template-columns: 200px 200px; */
  gap: 50px;
  background-color: FFBBBB;
  /* margin-bottom: 50px; */
  padding: 2vw;
  /* border-radius: 20px; */
  align-items: center;
  justify-content: center;
}

.fbitems {
  width: 200px;
  line-height: 20px;
  background-color: white;
  margin-top: 30px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.155);
}

.fbitems1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.fbitems1 p {
  color: blue;
  font-weight: 1000;
}

.fb {
  display: flex;
  /* gap: 50px; */
  /* margin-top: -110px; */
  /* width: 1420px; */
  /* margin-left: auto; */
  /* margin-right: auto; */
  /* padding-top: 100px;*/
}

.feedback {
  background-color: #c8cff1;
  margin: 2vw;
  padding-top: 3vw;
  padding-left: 3vw;
  margin: 2vw;
  background-color: lightskyblue;
}

.section {
  margin: 2vw;
}
.TPJtop {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  flex-wrap: wrap;
  padding-bottom: 20px;
}

.TPJ {
  /* background-color: #eef1ff; */
  /* padding: 50px; */
  /* width: 1320px; */
  /* margin-left: auto; */
  /* margin-right: auto; */
  /* margin-top: 20px; */
  background-image: url(../Images/business-investor-gaining-profit-from-investment.gif);
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.total {
  display: flex;
  gap: 200px;
  justify-content: center;
}

.TPJ h2 {
  padding-top: 50px;
  padding-bottom: 30px;
}
#TPJMore {
  display: none;
}

#TPJLess {
  display: none;
}
.TPJprofile {
  display: flex;
  gap: 30px;
  margin: 25px 5px;
}

.TPJprofile h4 {
  margin-top: 5px;
}

.TPJsecond {
  align-items: center;
  /* margin-left: 10px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nxttol {
  margin-top: 50px;
  background-color: rgb(221, 236, 236);
  border-radius: 5px;
  padding-bottom: 20px;
  box-shadow: 5px 5px 5px rgba(0, 6, 13, 0.135);
}

.a:hover {
  color: black;
  transition: 0.5s;
  background-color: white;
  transition: 1s;
  padding: 5px;
}

.a:active {
  background-color: white;
}
.footertop h4 {
  font-size: 2vw;
  margin-bottom: 2vh;
  color: white;
}
.footertop p {
  font-size: 1vw;
}
.footertopimg {
  display: flex;
  color: white;
  justify-content: center;
  flex-direction: column;
  gap: 2vh;
}

.footertopimg img {
  height: 2vh;
  height: 2vw;
}
.footertopimg p {
  display: flex;
  justify-content: center;
}

.secondmenu:hover {
  color: white;
  background-color: #560bad;
}

.btn:hover {
  box-shadow: 0px 0px 10px black;
}

.section1btns p {
  color: blue;
  font-size: 2vw;
}

.footertop {
  color: white;
}

.footer {
  display: flex;
  background-color: black;
  gap: 5vw;
  justify-content: center;
}

.firstcontent {
  display: flex;
  margin-top: 5vh;
  justify-content: space-around;
}

/* .sidemenu {
  display: flex;
  gap: 5px;
  flex-direction: column;
  position: relative;
  right: -15px;
  background-color: white;
  padding: 10px;
  box-shadow: 0px 0px 2px black;
  color: blue;
  transition: 2s;
  width: 0px;
} */

/* .sidemenu a {
  font-size: 15px;
} */

/* .close {
  position: absolute;
  top: -8px;
  right: -1px;
}

.close img {
  width: 4vw;
  height: 4vh;
} */
.firstcontent img {
  height: 40vh;
  width: 30vw;
}

#unext {
  display: none;
}

#back {
  display: none;
}

#more {
  display: none;
}

#less {
  display: none;
}

#trendmore {
  display: none;
}

#trendless {
  display: none;
}

/* .menu {
  display: none;
} */
@media all and (max-width: 500px) {
  .sectoion2 img {
    height: 3vh;
    width: 10vw;
  }
  .usedby {
    font-size: xx-small;
  }
  .sectoion2 {
    margin: -50px 20px 10px 20px;
  }
  nav .a {
    font-size: 1.5vh;
  }

  #uimg9 {
    display: none;
  }

  #uimg8 {
    display: none;
  }

  #uimg7 {
    display: none;
  }

  #uimg6 {
    display: none;
  }

  #back {
    width: 3vw;
    height: 3vw;
    margin-top: 5px;
    margin-left: 10px;
    display: none;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.242);
  }

  #unext {
    width: 3vw;
    height: 3vw;
    margin-top: 5px;
    margin-left: 10px;
    display: block;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.242);
  }

  #unext:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 255, 0.356);
  }

  #back:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 255, 0.356);
  }

  #TP15,
  #TP14,
  #TP13,
  #TP12,
  #TP11,
  #TP10,
  #TP9,
  #TP8,
  #TP6 {
    display: none;
  }

  #trend5,
  #trend6,
  #trend7,
  #trend8,
  #trend9,
  #trend10 {
    display: none;
  }

  #more {
    display: block;
    text-decoration: underline;
    cursor: pointer;
    text-align: center;
    padding: 10px;
  }

  #less {
    text-decoration: underline;
    cursor: pointer;
    text-align: center;
    padding: 10px;
  }

  #trendmore {
    display: block;
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
    padding: 10px;
  }

  #trendless {
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
    padding: 10px;
  }

  #feedback7,
  #feedback6,
  #feedback5 {
    display: none;
  }

  #TPJ18,
  #TPJ17,
  #TPJ16,
  #TPJ15,
  #TPJ14,
  #TPJ13,
  #TPJ12,
  #TPJ11,
  #TPJ10,
  #TPJ9,
  #TPJ8,
  #TPJ7,
  #TPJ6,
  #TPJ5 {
    display: none;
  }

  #TPJMore {
    display: block;
    text-align: center;
    cursor: pointer;
    text-decoration: underline;
  }

  #TPJLess {
    text-align: center;
    cursor: pointer;
    text-decoration: underline;
  }
}

.usedby_img {
  display: flex;
  gap: 3vw;
}

.footer-para {
  display: flex;
  gap: 5vw;
  margin: 5vw;
}

.logo-help {
  margin: 0vh 0vw 0vh 0vw;
  display: flex;
  align-items: center;
  gap: 1vw;
}

.users {
  display: flex;
  justify-content: space-evenly;
  margin: 1vw;
  font-size: 1vw;
}
