body {
  background-color: #effffd;
  font-family: "Inter", sans-serif;
  position: relative;
}
.logo img {
  width: 10rem;
}

a {
  cursor: pointer;
}

header {
  height: 7rem;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  display: flex;
  align-items: center;
  gap: 50rem;
  -webkit-font-smoothing: antialiased;
  font-family: "Inter", sans-serif;
  color: #000;
  font-weight: 500;
  margin-top: -0.5rem;
}

header a {
  text-decoration: none;
  color: black;
}
nav {
  display: flex;
  gap: 2rem;
}

nav a img {
  width: 2rem;
}

nav a {
  display: flex;
  align-items: center;
  font-size: 1rem;
  gap: 1rem;
  transition-delay: 1ms;
  padding: 0.3rem 0.5rem;
  border-radius: 0.5rem;
}

nav a:hover {
  background-color: rgba(227, 227, 227, 0.363);
  transition: all 1s;
}

.halfCircle {
  background-color: #b8fff9;
  width: 100%;
  height: 60rem;
  border-radius: 50%;
  margin-top: -30rem;
  /* padding-top: 100rem; */
}

.halfCircletexts span {
  padding-top: 100rem;
  color: black;
  font-size: 46px;
  line-height: 1.28;
  /* color: #000; */
  text-align: center;
  font-weight: 600;
}

.halfCircletexts {
  position: relative;
  top: -20rem;
  text-align: center;
}

.workerPoint {
  font-size: 17px;
  line-height: 1.5;
  letter-spacing: 0.17px;
  color: #000;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 22px;
  font-weight: 500;
  position: relative;
}

.signUp {
  position: absolute;
  top: 25rem;
  text-align: center;
  margin-left: 45rem;
  background-color: #42c2ff;
  padding: 0.3rem;
  border-radius: 0.5rem;
  color: white;
  font-weight: 600;
  display: flex;
  gap: 0.3rem;
}

.signUp:hover {
  display: flex;
  gap: 2rem;
  transition: all 1s;
}

.signUp::backdrop {
  transition: all 1s;
}

.mainImage {
  position: absolute;
  top: 32rem;
}

.mainImage img {
  border-radius: 1rem;
  align-items: center;
  vertical-align: middle;
  margin-left: 21.8rem;
  border: 5px solid black;
}

.topFeatures {
  margin-top: 20rem;
  display: flex;
  margin-left: 12rem;
  margin-right: 10rem;
  gap: 10rem;
}

.topFeatures img {
  height: 10rem;
}

.topFeatures h3 {
  text-align: center;
}

.notification {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-left: 5rem; */
}
.payment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.details p {
  width: 17rem;
}

.topJobs {
  margin-top: 2rem;
  margin-left: 2rem;
  /* width: ; */
  margin-right: 2rem;
  height: 20rem;
  /* background-color: #b8fff9; */
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  overflow-x: hidden;
}
.cards {
  animation: scroll 10s linear infinite;

  margin: 1rem;
}

.card {
  width: 20rem;
  height: 10rem;
  background-color: white;
  border-radius: 1rem;
  display: flex;
  padding: 1rem;

  gap: 2rem;
}
.cards:hover {
  animation-play-state: paused;
}
.ProfileImage {
  display: flex;
  align-items: center;

  /* justify-content: center; */
}

.ProfileImage img {
  width: 7rem;
  /* margin-left: 1rem; */
  /* margin-top: 1rem; */
}

.Title {
  margin-bottom: 2rem;
  align-items: center;
  text-align: center;
  background-color: yellow;
  border-radius: 1rem;
  padding: 0.2rem;
}

.Datas {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.Datas img {
  width: 1rem;
  height: 1.5rem;
}

.Datas div {
  display: flex;
  gap: 1rem;
}

.apply {
  padding: 0.4rem 0.8rem 0.4rem 0.8rem;
  background-color: #42c2ff;
  border-radius: 0.5rem;
  margin-left: 7rem;
}

.apply:hover {
  background-color: rgba(159, 152, 152, 0.143);
  color: #42c2ff;
}

.cards {
  display: flex;
  gap: 2rem;
}

@keyframes scroll {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-1000px);
  }
}

.TrendingJobs {
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  height: 20rem;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  overflow-x: hidden;
}

.footer {
  margin-top: 15rem;
  position: relative;
  width: 93.6%;
  background: #3586ff;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: green;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: white;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("https://i.ibb.co/wQZVxxk/wave.png");
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}

.registerType {
  background-color: rgb(215, 195, 195);
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 20;
  padding: 2rem 1rem 2rem 1rem;
  border-radius: 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  gap: 3rem;
  margin-left: 40rem;
  margin-top: 17rem;
  margin-right: auto;
}

.typeBtn {
  display: flex;
  gap: 1rem;
}

.typeBtn button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.3rem;
  background-color: rgb(194, 161, 224);
}

.Cancel {
  display: flex;
  background-color: red;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 0.5rem;
  border-radius: 0.3rem;
}

.typeBtn button:hover {
  box-shadow: rgba(245, 247, 247, 0.957) 1.95px 1.95px 2.6px;
}

.Cancel:hover {
  box-shadow: rgb(51, 51, 51) 0px 0px 0px 3px;
}
